@import url('https://fonts.googleapis.com/css2?family=Chau+Philomene+One:ital@0;1&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    padding: 8px 0;
    border-bottom: 1px solid #343A401F;
    .container{
        .search{
            width: 260px;
            height: 40px;
            border-radius: 4px;
            border: 0;
            background-color: #7749F826;
            @media screen and (max-width:767px) {
                display: none;
            }
            i{
                color: #343A4080;
            }
        input{
            background-color: transparent;
            border: 0;
            outline: 0;
            font-family: Chau Philomene One;
            font-weight: 400;
            font-size: 16px;
            line-height: 28px;
            letter-spacing: 0%;
            padding: 6px;
            color: #343A4080;
        }
        }
    }
}
.one{
    .container{
        width: 1040px;
        max-width: 90%;
        .card{
            background-color: #FFFFFF;
            border: 1px solid #DEE2E6;
            border-radius: 12px;
            img{
                margin-bottom: 12px;
                height: 190px;
                border-radius: 12px 12px 0 0;
            }
            h2{
                margin-bottom: 8px;
                font-family: Chau Philomene One;
                font-weight: 400;
                font-size: 26px;
                line-height: 100%;
                letter-spacing: 0%;
                padding-left: 12px;
                color: #343A40;
            }
            b{
                margin-bottom: 8px;
                font-family: Chau Philomene One;
                font-weight: 400;
                font-size: 22px;
                line-height: 100%;
                letter-spacing: 0%;
                color: #7749F8;
                padding-left: 12px;
            }
            p{
                font-family: Chau Philomene One;
                font-weight: 400;
                font-size: 16px;
                line-height: 28px;
                letter-spacing: 0%;
                padding-left: 12px;
                color: #343A40CC;
            }
            button{
                height: 50px;
                padding-left: 12px;
                border: 0;
                border-radius: 4px;
                background-color: #7749F8;
                font-family: Chau Philomene One;
                font-weight: 400;
                font-size: 16px;
                line-height: 100%;
                letter-spacing: 0%;
                text-align: center;
                color: white;
                margin: 0 12px 12px 12px;
                transition: all 0.3s ease;
            }
            button:hover{
                background-color: #6236D9;
                transform: scale(1.07);
            }
        }
    }
}
.hero{
    .container{
        width: 1040px;
        max-width: 90%;
        .sec1{
            height: 516px;
            background-image: url(img1.jpg);
            background-size: cover;
            background-position: center;
            @media screen and (max-width: 767px){
                height: 296px;
            }
        }
        .sec2{
            h1{
                font-family: Chau Philomene One;
                font-weight: 400;
                font-size: 40px;
                line-height: 40px;
                letter-spacing: 0%;
                color: #343A40;
                margin-bottom: 24px;
            }
            b{
                font-family: Chau Philomene One;
                font-weight: 400;
                font-size: 32px;
                line-height: 48px;
                letter-spacing: 3%;
                color: #7749F8;
                del{
                    font-family: Chau Philomene One;
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 32px;
                    letter-spacing: 3%;
                    color: #A0A0A0;
                }
            }
            p{
                font-family: Chau Philomene One;
                font-weight: 400;
                font-size: 14px;
                line-height: 24px;
                letter-spacing: 3%;
                margin-bottom: 32px;
            }
            .btns{
                @media screen and (max-width: 767px){
                    flex-direction: column;
                    width: 100%;
                }
            .btn1{
                width: 50%;
                border-radius: 6px;
                border: 2px solid #7749F8;
                padding: 16px 56px;
                font-family: Chau Philomene One;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0%;
                text-align: center;
                color: #7749F8;
                background-color: #FFFFFF;
                transition: all 0.3s ease;
                @media screen and (max-width: 767px){
                    width: 100%;
                }
            }
            .btn1:hover{
                transform: scale(1.08);
            }
            .btn2{
                width: 50%;
                border-radius: 6px;
                border: 2px solid #7749F8;
                padding: 16px 56px;
                font-family: Chau Philomene One;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0%;
                text-align: center;
                color: #FFFFFF;
                background-color: #7749F8;
                transition: all 0.3s ease;
                @media screen and (max-width: 767px){
                    width: 100%;
                }
            }
            .btn2:hover{
                transform: scale(1.08);
            }
            }
            .icons{
                .icon{
                    width: 58px;
                    height: 58px;
                    border-radius: 11px;
                    padding: 16px;
                    background-color: #F6F6F6;
                    color: #797979;
                    text-align: center;
                    i{
                        width: 24px;
                        height: 24px;
                    }
                }
                p{
                    width: 73px;
                    font-family: Chau Philomene One;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 24px;
                    letter-spacing: 0%;
                    color: #717171;
                    span{
                        color: #343A40;
                    }
                }
            }
        }
    }
}
.cart{
    .container{
        width: 1040px;
        max-width: 90%;
        .sec1{
            h1{
                font-family: Chau Philomene One;
                font-weight: 400;
                font-size: 32px;
                line-height: 24px;
                letter-spacing: 0%;
                color: #343A40;
                margin-bottom: 48px;
            }
            .top{
                padding: 16px 0;
                margin-bottom: 24px;
                .img{
                    width: 90px;
                    height: 90px;
                    background-image: url(img3.jpg);
                    background-size: cover;
                    background-position: center;
                    border: 1px solid #343A401F;
                    border-radius: 6px;
                }
                .text{
                    .left{
                        width: clamp(106px , 35vw , 299px);
                        p{
                        font-family: Chau Philomene One;
                        font-weight: 400;
                        font-size: 22px;
                        line-height: 24px;
                        letter-spacing: 0%;
                        color: #343A40;
                        margin-bottom: 24px;
                    }
                    b{
                        font-family: Chau Philomene One;
                        font-weight: 400;
                        font-size: 20px;
                        line-height: 32px;
                        letter-spacing: 3%;
                        color: #343A40;
                    }
                    }
                    .right{
                        width: clamp(102px , 35vw , 104px);
                        .part1{
                        position: relative; 
                        i{
                        position: absolute;
                        right: 10px;
                        top: 0;
                        }
                        }
                        .part2{
                            button{
                                width: 30px;
                                height: 24px;
                                border: none;
                                background-color: transparent;
                                text-align: center;
                                margin-top: 5px;
                            }
                            p{
                                width: 40px;
                                height: 32px;
                                border: 0.5px solid #D9D9D9;
                                border-radius: 4px;
                                font-family: Chau Philomene One;
                                font-weight: 400;
                                font-size: 16px;
                                line-height: 16px;
                                letter-spacing: 0%;
                                text-align: center;
                                color: #343A40;
                                padding: 8px 16px;
                            }
                        }
                }
                }
            }
            hr{
                border: 1px solid #343A401F;
            }
            .bottom{
                padding: 16px 0;
                margin-top: 24px;
                .img{
                    width: 90px;
                    height: 90px;
                    background-image: url(img6.jpg);
                    background-size: cover;
                    background-position: center;
                    border: 1px solid #343A401F;
                    border-radius: 6px;
                }
                .text{
                    .left{
                        width: clamp(106px , 35vw , 299px);
                        p{
                        font-family: Chau Philomene One;
                        font-weight: 400;
                        font-size: 22px;
                        line-height: 24px;
                        letter-spacing: 0%;
                        color: #343A40;
                        margin-bottom: 24px;
                    }
                    b{
                        font-family: Chau Philomene One;
                        font-weight: 400;
                        font-size: 20px;
                        line-height: 32px;
                        letter-spacing: 3%;
                        color: #343A40;
                    }
                    }
                    .right{
                        width: clamp(102px , 35vw , 104px);
                        .part1{
                        position: relative; 
                        i{
                        position: absolute;
                        right: 10px;
                        top: 0;
                        }
                        }
                        .part2{
                            width: 104px;
                            height: 32px;
                            button{
                                width: 30px;
                                height: 24px;
                                border: none;
                                background-color: transparent;
                                text-align: center;
                                margin-top: 5px;
                            }
                            p{
                                width: 40px;
                                height: 32px;
                                border: 0.5px solid #D9D9D9;
                                border-radius: 4px;
                                font-family: Chau Philomene One;
                                font-weight: 400;
                                font-size: 16px;
                                line-height: 16px;
                                letter-spacing: 0%;
                                text-align: center;
                                color: #343A40;
                                padding: 8px 16px;
                            }
                        }
                }
                }
            }
        }
        .sec2{
            border: 1px solid #EBEBEB;
            padding: 48px 36px;
            h1{
                font-family: Chau Philomene One;
                font-weight: 400;
                font-size: 20px;
                line-height: 16px;
                letter-spacing: 0%;
                color: #343A40;
                margin-bottom: 40px;
            }
            .part{
                font-family: Chau Philomene One;
                font-weight: 400;
                font-size: 16px;
                line-height: 32px;
                letter-spacing: 3%;
                color: #343A40;
            }
            button{
                width: 100%;
                background-color: #7749F8;
                border: 0;
                border-radius: 6px;
                padding: 16px 56px;
                font-family: Chau Philomene One;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0%;
                text-align: center;
                color: white;
                margin-top: 48px;
                transition: all 0.3s ease;
            }
            button:hover{
                background-color: #6236D9;
                transform: scale(1.08);
            }
        }
    }
}
footer{
    border-top: 1px solid #343A401F;
    padding: 48px 0;
    @media screen and (max-width:767px) {
        padding: 24px;
    }
    .start{
    img{
        width: 120px;
        height: 120px;
    }
    p{
        width: 193px;
        font-family: Chau Philomene One;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0%;
        color: #343A40CC;
    }
    }
    .mid{
        h3{
        font-family: Chau Philomene One;
        font-weight: 400;
        font-size: 20px;
        line-height: 32px;
        letter-spacing: 0%;
        color: #343A40;
    }
    p{
        font-family: Chau Philomene One;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0%;
        color: #343A40CC;
    }
    }
    .end{
        h3{
        font-family: Chau Philomene One;
        font-weight: 400;
        font-size: 20px;
        line-height: 32px;
        letter-spacing: 0%;
        color: #343A40;
        }
        p{
            font-family: Chau Philomene One;
            font-weight: 400;
            font-size: 14px;
            line-height: 22px;
            letter-spacing: 0%;
            color: #343A40CC;
        }
    }
}